<a href="https://colab.research.google.com/github/tarik732/Python/blob/main/Basic_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to python

In [1]:
print(10+20)

30

## Data Type

In [1]:
age = 12
name = "Karim"
Is_single = True
interest = 12.50

print(age, type(age))
print(name,type(name))
print(Is_single, type(Is_single))
print(interest, type(interest))

12 <class 'int'>
Karim <class 'str'>
True <class 'bool'>
12.5 <class 'float'>

# String formation

In [3]:
Coname = "Tushar"
age = 23
print(f"Hello, My name is {Coname} and I'm {age} years old")

Hello, My name is Tushar and I'm 23 years old

## Input Output typecasting

In [4]:
first_money = input("Enter first amount : ")
second_money = input("Enter second amount : ")
print(first_money + second_money)
# here input as a string

Enter first amount : 2
Enter second amount : 5
25

In [5]:
# Integer input
a = int(input())
b = int(input())
c = a+b
print(c)

3
5
8

In [6]:
# typecasting string to integer
first_money = input("Enter the first amount : ")
second_money = input("Enter thr second amount : ")
print(int(first_money)+int(second_money))

Enter the first amount : 4
Enter thr second amount : 4
8

## Basic operators

In [7]:
# addition
print(10+3)
# subtraction
print(10-3)
# multiplication
print(10*3)
# reminder
print(10 % 3)
# floating point division
print(10/3)
# integer division
print(10//3)
# power calculation
print(2**3)

13
7
30
1
3.3333333333333335
3
8

## Comparision operator

In [8]:
x = 5
y = 5
print(x == y)

True

In [9]:
x = 7
y = 9
print(x == y)

False

In [10]:
x = 5
y = 5
print (x != y)

False

In [11]:
x = 7
y = 4
print(x != y)

True

In [12]:
x = 7
y = 9
print(x > y)

False

In [14]:
x = 10
y = 6
print(x > y)

True

In [15]:
x = 9
y = 7
print(x < y)

False

In [16]:
x = 5
y = 9
print(x < y)

True

In [17]:
x = 10
y = 7
print(x >= y)

True

In [18]:
x = 5
y = 5
print(x >= y)

True

In [19]:
x = 8
y = 9
print(x <= y)

True

In [20]:
x = 9
y = 4
print(x <= y)

False